.main{
    display: flex;
    width: 100%;
    height: 1000px;
    justify-content: center;
    align-items: center;
}
.box1{
    display: flex;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
}
.box3{
    display: hidden;
    width: 80%;
    height: 100%;
    border: 1px solid black;
    overflow: hidden;
}
.box2{
    display: flex;
    width: 10%;
    height: 100%;
    border: 1px solid black;
    
}
.box4{
    display: flex;
    width: 10%;
    height: 100%;
    border: 1px solid black;
    
}
.contents{
    left: 0px;
    display: flex;
    width: 400%;
    height: 100%;
    /* border:1px solid black; */
    flex-direction: row;
    transition: .5s;
    position: relative;
}
.content1{
    display: flex;
    width: 25%;
    height: 100%;
    /* border: 1px solid black; */
    flex-direction: column;
    transition: .5s;
    position: relative;
    /* left: 0; */
}
#pic1{
    display: flex;
    width: 100%;
    height: 60%;
    
}
#pic2{
    display: flex;
    width: 100%;
    height: 60%;
    
}
#pic3{
    display: flex;
    width: 100%;
    height: 60%;
    
}
#pic4{
    display: flex;
    width: 100%;
    height: 60%;
    
}
.text{
    display: flex;
    width:100%;
    height: 40%;
    flex-direction: column;
}
.text div{
    display: flex;
    padding-top: 15px;
    flex-direction: row;
}
.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
}
.name1 div{
    display: flex;
}
.name1 div img{
    width: 30px;
    height: 30px;
}
button{
    background-color: white;
    border: none;
}